Source: funkeymonkey-pyrainput
Section: misc
Priority: optional
Maintainer: Sébastien Huss <sebastien.huss@gmail.com>
Build-Depends: cmake, debhelper (>=9), dh-systemd, pkg-config, funkeymonkey-dev,
 systemd
Standards-Version: 3.9.8
Homepage: https://dev.pyra-handheld.com/sebt3/funkeymonkey-pyrainput

Package: funkeymonkey-pyrainput
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, funkeymonkey (>=0.1.1)
Description: FunKey-MonKey module that handles the Pyra input system
 pyra input daemon based on FunKey-MonKey

